body {
  background: transparent url("../img/old_map.png") top repeat;
}
body .login,
body .main {
  background: #fff;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 0 3px #444;
  margin-top: 50px;
}
body h1,
body h2,
body h3 {
  font-weight: bold;
  font-family: ubuntu;
}
body a {
  color: #08c;
  text-decoration: underline;
  cursor: pointer;
}
body .login h1 {
  text-align: center;
}
body .login h1 .logo {
  font-weight: bold;
  display: block;
}
body .bg-danger {
  padding: 10px;
  border: 1px solid #ffaaaa;
}
body .navbar.navbar-default {
  background: transparent;
  border: 0 none;
}
body .navbar.navbar-default .navbar-brand {
  color: #222;
  font-family: ubuntu;
  font-weight: bold;
  font-size: 22px;
  margin-right: 20px;
  text-decoration: none;
}
body .navbar.navbar-default ul li a {
  color: #08c;
  text-decoration: underline;
  cursor: pointer;
}
body .main {
  margin-top: 0;
  min-height: 100px;
}
body .main .main_frame h2 {
  margin-bottom: 30px;
}
body .main .main_frame h2 .glyphicon {
  font-size: 22px;
  margin-right: 10px;
}
body .main button.btn {
  margin-right: 5px;
}
body .main .breadcrumb {
  background: transparent;
  font-size: 1.2em;
}
body .main .breadcrumb a {
  font-weight: bold !important;
}
body .main .breadcrumb button.btn-xs {
  margin-left: 5px;
}
body .main .breadcrumb .title_editor input {
  display: inline;
  width: auto;
  font-size: 0.8em;
  height: 25px;
}
body .main .breadcrumb .title_editor button.btn {
  margin-right: 5px;
}
body .main .breadcrumb .title_editor a {
  font-size: 12px;
  font-weight: normal;
}
body .main .structure-icon {
  width: 22px;
}
body .main .align-right {
  text-align: right;
}
