body {
    background: transparent url("../img/old_map.png") top repeat;

    .login, .main {
        background: #fff;
        padding: 20px;
        border-radius: 6px;
        box-shadow: 0 0 3px #444;
        margin-top: 50px;
    }


    h1, h2, h3 {
        font-weight: bold;
        font-family: ubuntu;
    }

    a {
        color: #08c;
        text-decoration: underline;
        cursor: pointer;
    }

    .login {
        h1 {
            text-align: center;

            .logo {
                font-weight: bold;
                display: block;
            }
        }
    }

    .bg-danger {
        padding: 10px;
        border: 1px solid #ffaaaa;
    }

    .navbar.navbar-default {
        background: transparent;
        border: 0 none;

        .navbar-brand {
            color: #222;
            font-family: ubuntu;
            font-weight: bold;
            font-size: 22px;
            margin-right: 20px;
            text-decoration: none;
        }

        ul li a {
            color: #08c;
            text-decoration: underline;
            cursor: pointer;
        }
    }

    .main {
        margin-top: 0;
        min-height: 100px;

        .main_frame {
            h2 {
                margin-bottom: 30px;

                .glyphicon {
                    font-size: 22px;
                    margin-right: 10px;
                }
            }
        }

        .structure-icon {
            width: 22px;
        }

        .align-right {
            text-align: right;
        }
    }
}